@font-face {
    font-family: 'OpenSansRegular';
    src: url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.eot');
    src: url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.eot');
    src: url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('http://www.wildsidesa.co.za/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body,h1,h2,h3,p,quote,small,ul,li,ol,label{
	/* The reset rules */
	margin:0px;
	padding:0px;
}

body{
	color:#424242;
	font-size:12px;
	font-family: 'OpenSansRegular';
	width: 100%;
}
a:link {color:#0066CC;font-family: 'OpenSansSemibold';}      /* unvisited link */
a:visited {color:#0066CC;font-family: 'OpenSansSemibold';}  /* visited link */
a:hover {color:#C74700;font-family: 'OpenSansSemibold';}  /* mouse over link */
a:active {color:#0066CC;font-family: 'OpenSansSemibold';}  /* selected link */
#mast960_nowidth {
	
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top:10px;
	padding-bottom:6px;
	text-align: left;
	font-size: 12px;
}
#mast960 {
	width:960px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top:10px;
	padding-bottom:6px;
	color: #ABABAB;
	text-align: left;
	font-size: 12px;
}
#maststrip{
	height: 38px;
	width: 100%;
}
	
h1{
	font-size:22px;
	font-weight:600;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.headingarge{
	font-size:40px;
	font-weight:600;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	height: 80px;
	margin-bottom: -40px;
}
.headingsuperlarge{
	font-size:100px;
	font-weight:600;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	height: 40px;
	line-height: normal;
	vertical-align: bottom;
}

h2{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size:10px;
	font-weight:normal;
	letter-spacing:1px;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin-top:4px;
	color:#888888;
}
h3{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin-top:4px;
}

h4{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size:10px;
	font-weight:normal;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin-top:4px;
	color:#888888;
}
#main p{
	padding-bottom:8px;
}

.clear{
	clear:both;
}

#main{
	width:800px;
	/* Centering it in the middle of the page */
	margin:60px auto;
}

.container{
	margin-top:20px;
	padding:15px;
	
	/* Rounded corners */
	-moz-border-radius:20px;
	-khtml-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius:20px;
}

.err{
	color:red;
}

.success{
	color:#00CC00;
}




a.redlink, a.redlink:visited {
	color: #FFBF00;
	text-decoration:none;
	outline:none;
	font-size:15px;
}

a.redlink:hover{
	text-decoration:underline;
	font-size:15px;
}

.tutorial-info{
	text-align:center;
	padding:10px;
}
.divleftcontainer{
	width:100%;
	float:left;
	clear:both;
}
.divleft{
	width: 100%;
	float:left;
	clear:both;
	height: 120px;
}
.divleftbalance{
	width:100%;
	float:left;
	clear:right;
	text-align: left;
	padding-left: 120px;
	height: 60px;
}
